# 1. Pytorch
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.0+cu121
torchvision==0.16.0+cu121
torchaudio==2.1.0+cu121

# 2. DGL
-f https://data.dgl.ai/wheels/cu121/repo.html
dgl==2.2.1+cu121
dgllife==0.3.2

# 3. Others
numpy==1.26.3
transformers==4.50.1
fair-esm==2.0.0
rdkit==2024.9.5
torchdata==0.7.0
pydantic==2.12.5